BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
SortIncludes: false
PointerAlignment: Right
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements