# Python-related ignores #
###################
*.py[cod]
*.egg-info/
*.egg
*.pyc
__pycache__/

# Output fig or video, etc #
############################
output/

# Editor Config #
.vscode/
.spyproject/
.spyderproject/

# OS Files #
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pyro.iml
.idea/vcs.xml
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.idea/other.xml
.idea/workspace.xml
build/

# Build logs
build.log
log/
build/
install/
