<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />
  <arg name="web_server" default="false"/>
  <arg name="joy" default="js0" />
  <arg name="prefix" default="racecar" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/racecar_parking_1.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>
  
  <include file="$(find racecar_gazebo)/launch/spawn_racecar.launch">
    <arg name="prefix" value="$(arg prefix)"/>
    <arg name="web_server" value="$(arg web_server)"/>
    <arg name="joy" value="$(arg joy)"/>
  </include>
</launch>
