<?xml version="1.0"?>
<launch>

  <include file="$(find racecar_control)/launch/racecar_control.launch">
    <arg name="prefix" value="racecar1"/>
  </include>
  
  <include file="$(find racecar_control)/launch/racecar_control.launch">
    <arg name="prefix" value="racecar2"/>
  </include>

</launch>
