<?xml version="1.0"?>
<launch>

    <arg name="prefix"       default="racecar"/>
    <arg name="arduino_port" default="ACM0"/>  <!-- for /dev/ttyACM0 -->
    <arg name="arduino_baud" default="115200"/>
    <arg name="lidar_port"   default="USB0"/>  <!-- for /dev/ttyUSB0 -->
    <arg name="sensors"      default="true"/>  <!-- start lidar, camera -->
    <arg name="publish_tf"   default="true"/>  <!-- publish odometry TF -->
   
    <group ns="$(arg prefix)">
          
      <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
      <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'" />

      <!-- convert robot_description to TF transforms for rviz, etc -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
	    <remap from="/joint_states" to="joint_states" />
      </node>
         
      <!-- Arduino bridge -->
      <node pkg="rosserial_python" type="serial_node.py" name="rosserial" >
          <param name="port" value="/dev/tty$(arg arduino_port)"/>
          <param name="baud" value="$(arg arduino_baud)"/>
      </node>
      <node pkg="racecar_bringup" type="arduino_sensors.py" name="arduino_sensors" output="screen">
        <param name="publish_tf" value="$(arg publish_tf)"/>
        <remap from="raw_odom" to="prop_sensors"/>
        <remap if="$(arg publish_tf)" from="odom" to="odometry/filtered"/>
      </node>
      
      <!-- Lidar-->
      <node if="$(arg sensors)" pkg="rplidar_ros"  type="rplidarNode" name="rplidar">
          <param name="serial_port" type="string" value="/dev/tty$(arg lidar_port)"/>
          <param name="serial_baudrate" type="int" value="115200"/>
          <param name="frame_id" type="string" value="$(arg prefix)/base_laser"/>
          <param name="inverted" type="bool" value="false"/>
          <param name="angle_compensate" type="bool" value="true"/>
      </node>

      <!-- Camera-->
      <node if="$(arg sensors)" type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
          <param name="private_topics" value="true"/>

          <param name="camera_info_url" value="package://racecar_bringup/camera_info/front_camera.yaml"/>
          <param name="camera_frame_id" value="$(arg prefix)/camera_optical_link"/>
          <param name="enable_raw" value="false"/>
          <param name="enable_imv" value="false"/>
          <param name="camera_id" value="0"/>
          <param name="camera_name" value="front_camera"/>

          <param name="saturation" value="100"/>
          <param name="brightness" value="50"/>
          <param name="zoom" value="1"/>
          
          <param name="width" value="160"/>
          <param name="height" value="120"/>
          <param name="framerate" value="10"/>
      </node>
               
    </group>

</launch>
