<?xml version="1.0"?>
<launch>

  <arg name="joy_port"     default="js0"/>    <!-- for /dev/input/js0 -->
  <arg name="joy_ps4"      default="false"/>

  <arg name="max_vel"      default="6"/>
  <arg name="max_angle"    default="40"/>

  <arg name="prefix"       default="racecar"/>
  <arg name="arduino_port" default="ACM0"/>   <!-- for /dev/ttyACM0 -->
  <arg name="arduino_baud" default="115200"/>
  <arg name="lidar_port"   default="USB0"/>   <!-- for /dev/ttyUSB0 -->
  <arg name="sensors"      default="true"/>   <!-- start lidar, camera -->
  
  <include file="$(find racecar_bringup)/launch/bringup.launch">
    <arg name="prefix"       value="$(arg prefix)"/>
    <arg name="arduino_port" value="$(arg arduino_port)"/>
    <arg name="arduino_baud" value="$(arg arduino_baud)"/>
    <arg name="lidar_port"   value="$(arg lidar_port)"/>
    <arg name="sensors"      value="$(arg sensors)"/>
  </include>

  <group ns="$(arg prefix)">

    <node pkg="joy" type="joy_node" name="joy" >
      <param name="dev"               value="/dev/input/$(arg joy_port)"/>
      <param name="deadzone"          value="0.0"/>
      <param name="autorepeat_rate"   value="5"/>
      <param name="coalesce_interval" value="0.01"/>
    </node>

    <node pkg="racecar_teleop" type="slash_teleop.py" name="teleop">
      <param name="ps4"       value="$(arg joy_ps4)"/>
      <param name="max_vel"   value="$(arg max_vel)"/>
      <param name="max_angle" value="$(arg max_angle)"/>
    </node>
    <node pkg="racecar_autopilot" type="slash_controller.py" name="controller" output="screen"/>

  </group>

</launch>
